
body{
    background-color: #e0ffdb;

}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: #035003;
}

h4{
    text-align: center;
    margin: auto;
    padding-top: 15px;
}

.form-center{
    text-align: center;

}
select{
    margin: 10px;
}

ul{
    text-align: center;
    padding-right: 40px;
}
ol{
    padding-right: 40px;
    color: #035003;
    font-weight: bolder;
}

table{
    text-align: center;
    border: 3px solid #035003;
    margin: auto;
}
th{
    font-weight: bolder;
    border: 1px solid #2da63d;
}
td{
    border: 1px solid #2da63d;
}

.list{
    font-weight: 400;
    text-align: center;
    margin: auto;
}



.numbers{
    background-color: #61ab6e;
    font-weight: 700;
}

.center{
    text-align: center;
}
button{
    color: white;
    background-color: #035003;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid #035003;
    padding: 5px;
}

button:hover{
    background-color: #2da63d;
    border: 1px solid #2da63d;
}

input[type=submit]{
    background-color: #035003;
    color: #ffffff;
    border: 1px solid  #035003;
}
input[type=submit]:hover{
    background-color: #2da63d;
    color: #ffffff;
    border: 1px solid  #2da63d;
}